.card_header,
.card_header_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2%;
  height: var(--width-of-header);
  position: fixed;
  right: 0px;
  width: 100%;
  z-index: 3;
  font-weight: 500;
  box-sizing: border-box;
  transition: all ease 1s;
  opacity: 0.95;
}

.card_header,
.card_header_inactive {
  li {
    .cardLinkDark {
      text-decoration: none;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: .4px;
      color: white;
      font-size: 20px;
    }

    .cardLinkLight {
      text-decoration: none;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: .9px;
      color: black;
      font-size: 20px;
    }

    .cardLinkDark:hover {
      text-decoration: line-through solid white
    }

    .cardLinkLight:hover {
      text-decoration: line-through solid black
    }

  }
}

.buttons {
  position: fixed;
  top: 2.5vh;
  left: 10px;
  display: flex;
  gap: 5px;
  color: white;

}

@media (max-width:768px) {
  .card_header {
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
    height: 180px;
    overflow: hidden;
    position: fixed;
    transition: all 500ms;
    border-radius: 0px 0px 40px 40px;
    top: 7.3vh;
    box-sizing: border-box;
  }

  .card_header_inactive {
    display: flex;
    padding: 0px 0px;
    flex-direction: column;
    position: fixed;
    height: 0px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 0px 0px 40px 40px;
    top: 7.3vh;
    box-sizing: border-box;
  }
}