html {
  scroll-behavior: smooth;
}

button {
  width: 30%;
  display: block;

}

.app {
  position: relative;
}


body {
  margin: 0px;
  width: 100%;
}

body::-webkit-scrollbar {
  background-color: #181818;
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

:root {
  --heigth: 50px;
  --p: 25px
}

p {
  margin: 0;
  color: rgb(58, 54, 54);
  font-size: var(--p);
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: 0;
}

:root {
  --color-button: #e9f0f0;
  --color-black: #000;
}

.switch-button {
  display: flex;
  gap: 5px;
  color: white;
  justify-content: center;
  align-items: center;

}

.switch-button .switch-button__checkbox {
  display: none;

}

.switch-button .switch-button__label {
  width: 2rem;
  height: 1rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-image: url(./Images/england.jpg);
}

.switch-button .switch-button__label:before {
  background-color: var(--color-button);
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition: .2s;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
}

.switch-button .switch-button__checkbox:checked+.switch-button__label {
  background-image: url(./Images/spain.png);
  background-position: center;
  background-size: cover;
}

.switch-button .switch-button__checkbox:checked+.switch-button__label:before {
  transform: translateX(1rem);
}



.switch-button2 {
  display: flex;
  gap: 5px;
  color: white;
  justify-content: center;
  align-items: center;
}

.switch-button2 .switch-button__checkbox2 {
  display: none;
}

.switch-button2 .switch-button__label2 {
  width: 2rem;
  height: 1rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-color: white;
}

.switch-button2 .switch-button__label2:before {
  background-color: var(--color-button);
  opacity: 0.8;
  backdrop-filter: blur(5px);
  transition: .2s;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  content: '';
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-black);
  background-color: #181818;
}

.switch-button2 .switch-button__checkbox2:checked+.switch-button__label2 {
  background-color: white;
  background-position: center;
  background-size: cover;
}

.switch-button2 .switch-button__checkbox2:checked+.switch-button__label2:before {
  transform: translateX(1rem);
}


.card_header,
.card_header_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2%;
  height: 8vh;
  position: fixed;
  right: 0px;
  width: 100%;
  z-index: 3;
  font-weight: 500;
  box-sizing: border-box;
  transition: all ease 1s;
  opacity: 0.95;
}

.buttons {
  position: fixed;
  top: 2.5vh;
  left: 10px;
  display: flex;
  gap: 5px;
  color: white;

}

.button_language {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.button_dark {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.card_close {
  display: none;
  justify-content: flex-end;
}

.card_header,
.card_header_inactive {
  li {
    .cardLinkDark {
      text-decoration: none;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: .4px;
      color: white;
      font-size: 20px;
    }

    .cardLinkLight {
      text-decoration: none;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: .9px;
      color: black;
      font-size: 20px;
    }
  }
}

.card_header,
.card_header_inactive {
  li {
    .cardLinkDark:hover {
      text-decoration: line-through solid white
    }

    .cardLinkLight:hover {
      text-decoration: line-through solid black
    }

  }
}

.card_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.card_contain_button {
  display: none;
  transform: scale(1.5);
}


@mixin AboutMe {
  min-height: 100vh;
  background: linear-gradient(rgb(0, 0, 0), rgb(87, 82, 82));
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 8vh;
}

.card_aboutMe {
  @include AboutMe();
  background: linear-gradient(rgb(0, 0, 0), rgb(87, 82, 82));
}

.card_aboutMeLight {
  @include AboutMe();
  background: linear-gradient(rgba(219, 228, 237, 255), rgb(87, 82, 82));
}

.card_personal {
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  border-radius: 30px;
  background-color: rgb(182, 182, 202);
  width: 90%;
  height: 65%;
  box-sizing: border-box;
  padding: 4%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 3px solid black;
  cursor: crosshair;
  transition: all 1000ms;
  flex: 8;
}

.card_personal:hover {
  transition: all 1000ms;
  box-shadow: 0px 0px 14px 0px rgba(246, 242, 242, 0.75);
}

.card_image {
  max-width: 30%;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.card_education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.card_buttons_download {
  height: 80px;
  box-sizing: border-box;
  perspective: 700px;
  margin-top: 25px;
}

.card_box_download {
  position: relative;
  height: 100%;
  width: 150px;
  margin: auto auto;
  transform-style: preserve-3d;
  transition: all 500ms ease;
}

.card_box_download:hover {
  transform: rotateX(90deg);
  transition: all 500ms ease;
}

.button_download {
  height: 50px;
  width: 100%;
  cursor: pointer;
  background-color: rgb(55, 52, 52);
  color: white;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
}

.button_download_2 {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: rgb(55, 52, 52);
  color: white;
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  transform: translateY(25px) rotateX(-90deg)translateY(-10px)
}

.button_download a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_download_2 a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin Skills($first, $second) {
  height: 90vh;
  padding-top: 8vh;
  background: linear-gradient(to top, $first , $second);
  display: grid;
  grid-template-columns: var(--grid);
}

.card_skills {
  @include Skills(#181818, rgb(87, 82, 82));
}

.card_skillsLight {
  @include Skills(rgba(219, 228, 237, 255), rgb(87, 82, 82))
}

.text_skills {
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
  text-align: center;
  margin: auto auto;
  font-family: 'Courier New', Courier, monospace;

}

.box_skill {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  animation: rotate 10s infinite linear;
  transform-style: preserve-3d;
}


@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }

}

$figureHeigth: 50%;
$figureWidth: 25%;
$translate: 360px;

:root {
  --figureHeight: #{$figureHeigth};
  --figureWidth: #{$figureWidth};
  --translate: #{$translate};
  --grid: 1fr 2fr;
  --gridProject: 2fr 1fr;
  --boxSkillsHeigth: 60%;
  --boxProjectsHeigth: 70%;
  --boxContactMeWidth: 60%;
}

.figure_skill {
  background: linear-gradient(to right, rgb(180, 175, 175), rgb(74, 72, 72));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_skill figure {
  width: var(--figureWidth);
  height: var(--figureHeight);
  overflow: hidden;
  position: absolute;
}


$Images: 9;
$MaxNumber: calc($Images);
$deg: calc(360/calc($Images));
$display: grid;
@debug $deg;
@debug $MaxNumber;

@for $var from 0 to $MaxNumber {
  .box_skill figure:nth-child(#{$var + 1}) {
    transform: rotateY(#{$var*$deg}deg)translateZ(var(--translate));
  }
}

@mixin Projects($first, $second) {
  min-height: 100vh;
  background: linear-gradient($first, $second);
  padding-top: 8vh;
  display: $display;
  grid-template-columns: var(--gridProject);
}

.card_projects {
  @include Projects(#181818, rgb(87, 82, 82));
}

.card_projectsLight {
  @include Projects(rgba(219, 228, 237, 255), rgb(87, 82, 82))
}

.text_project {
  width: 80%;
  padding: 5%;
  box-sizing: border-box;
  margin: auto auto;
  font-family: 'Courier New', Courier, monospace;
}

.card_contain_projects {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s ease;
  height: var(--boxProjectsHeigth);
  margin: auto auto;

}


.card_contain {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.projects {
  display: flex;
  width: 800%;
  height: 100%;
}

.project {
  width: 100%;
  position: relative;
}

.project img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms;
}

.project img:hover {
  transform: scale(1.3);
  transition: all 500ms;
}

.card_contain_buttonProject {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.card_subida {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  background-color: rgb(50, 47, 47, 0.8);
  backdrop-filter: blur(2px);
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 5%;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
}

.card_subida p {
  text-align: center;
}

.card_subida a {
  text-decoration: none;
}


.card_subida div {
  display: flex;
}

.card_subida a button {
  width: 60px;
  height: 25px;
  background-color: rgb(55, 52, 52);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card_subida a button:hover {
  background-color: rgb(145, 139, 139);
}



.buttonProjectInactive {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: none;
  box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: 0px 2%;
}

.buttonProjectActive {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: none;
  box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: 0px 2%;
  background-color: red;
}

footer {
  background-color: rgb(52, 49, 49);
  height: 120px;
  margin-top: 30px;
  min-height: 100vh;

  h2 {
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 2px solid white;
    width: 50%;
    margin: auto auto;
    justify-content: center;
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
}

$boxShadow: inset 11px 0px 18px -2px rgba(0, 0, 0, 0.64);
$color: rgb(4, 4, 4);

@mixin foot($direction: none) {
  display: flex;
  flex-direction: $direction;
  width: var(--boxContactMeWidth);
  align-items: center;
  justify-content: center;
  margin: auto;
}

@mixin ContactMe($first, $second) {
  margin: 0;
  background: linear-gradient(to top, $first, $second);
  padding-top: 8vh;
  height: auto;
}


.card_contactMe {
  @include ContactMe(#181818, rgb(87, 82, 82));

  form:hover {
    box-shadow: 0px 0px 14px 0px rgba(246, 242, 242, 0.75);
    transition: all 300ms
  }

  form {
    @include foot(column);
    transition: all 300ms;
    margin-bottom: 40px;
    background-color: rgb(182, 182, 202);
    border: 3px solid black;
    border-radius: 30px 30px 30px 30px;
    cursor: crosshair;
    padding: 4%;
    padding-bottom: 40px;
    box-sizing: border-box;
    color: rgb(58, 54, 54);

    h2 {
      color: white;
      font-size: var(h1);
      font-family: 'Courier New', Courier, monospace;
      margin-bottom: 30px;
      text-align: center;

    }

    label {
      color: $color;
      font-weight: 800;
      margin: 10px auto;
      font-family: 'Courier New', Courier, monospace;
    }

    input {
      border-radius: 10px;
      box-shadow: inset;
      width: 70%;
      height: 25px;
      box-shadow: $boxShadow;
      font-size: 20px;
      font-weight: 600;
    }

    textarea {
      border-radius: 10px;

      box-shadow: inset;
      width: 70%;
      height: 120px;
      box-shadow: $boxShadow;
      font-size: 20px;
      resize: none;
    }

    button {
      margin-top: 20px;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      border: none;
      box-sizing: border-box;
      border: 2px solid #181818;
      overflow: hidden;
      background-color: transparent;
      color: white;
      font-weight: 700;
      box-shadow: 5px 5px 8px 4px black;
      transition: all 500ms;
    }

    button:hover {
      box-shadow: none;
      transition: all 500ms;
    }

    button::before {
      position: absolute;
      content: '';
      top: 0px;
      left: 0px;
      width: 0px;
      height: 100%;
      background-color: #181818;
      transition: all 300ms;
      overflow: hidden;
      z-index: -1;
    }

    button:hover::before {
      width: 100%;
      transition: all 300ms;
    }

    button .text {
      color: white;
      font-weight: 800;
    }
  }

  .card_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: rgb(24, 24, 24);
    z-index: 1;

    a {
      text-decoration: none;
      color: white;
      transform: scale(1.5);
      margin: 30px 0px;
    }
  }

  blockquote {
    background-color: rgb(24, 24, 24);
    padding: 0px 0px 20px 0px;
    font-weight: 900;
  }
}




@media (min-width:1300px) {
  :root {
    --figureHeight: calc(#{$figureHeigth}* 1);
    --figureWidth: calc(#{$figureWidth} * 1.1);
    --translate: calc(#{$translate} * 1.1);
    --p: 30px
  }

  button {
    font-size: 18px;
  }
}

@media (min-width:1500px) {
  :root {
    --figureHeight: calc(#{$figureHeigth}* 1.2);
    --figureWidth: calc(#{$figureWidth} * 1.1);
    --translate: calc(#{$translate} * 1.3);
    --p: 30px
  }
}

@media (min-width:1700px) {
  :root {
    --figureHeight: calc(#{$figureHeigth}* 1.2);
    --figureWidth: calc(#{$figureWidth} * 1.1);
    --translate: calc(#{$translate} * 1.5);
    --p: 35px
  }

  button {
    font-size: 20px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

}

@media (min-width:1900px) {
  :root {
    --figureHeight: calc(#{$figureHeigth}* 1.2);
    --figureWidth: calc(#{$figureWidth} * 1.1);
    --translate: calc(#{$translate} * 1.7);
    --p: 40px
  }
}

@media (min-width:2100px) {
  :root {
    --figureHeight: calc(#{$figureHeigth}* 1.2);
    --figureWidth: calc(#{$figureWidth} * 1.1);
    --translate: calc(#{$translate} * 1.9);
    --p: 45px
  }
}

@media (max-width:1240px) {
  :root {
    --figureHeight: calc(#{$figureHeigth}* 0.9);
    --figureWidth: calc(#{$figureWidth} * 0.9);
    --translate: calc(#{$translate} * 0.8);
    --p: 25px
  }

}

@media (max-width:950px) {

  :root {
    --figureHeight: calc(#{$figureHeigth}* 0.9);
    --figureWidth: calc(#{$figureWidth} *0.95);
    --translate: calc(#{$translate} * 0.7);
    --p: 25px
  }

}

@media (max-width:768px) {

  $display: flex;

  .menu,
  .menu_close {
    position: relative;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    transition: all 200ms;
  }

  .menu::before,
  .menu_close::before {
    content: '';
    position: absolute;
    top: 2px;
    width: 100%;
    height: 0px;
    border-top: 1px solid white;
    transition: all 200ms;
  }

  .menu::after,
  .menu_close::after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid white;
  }

  .menu_close::after {
    bottom: 4.5px;
    transform: rotateZ(45deg);
    transition: all 200ms;
  }

  .menu_close::before {
    top: 4.5px;
    transform: rotateZ(-45deg);
    transition: all 200ms;
  }


  :root {
    --grid: none;
    --figureHeight: calc(#{$figureHeigth}* 1.2);
    --figureWidth: calc(#{$figureWidth} * 0.85);
    --translate: calc(#{$translate} * 0.8);
    --gridProject: repeat(1, 1fr);
    --boxProjectsHeigth: 70%;
    --boxSkillsHeigth: 100%;
    --boxContactMeWidth: 70%;
    --p: 18px
  }

  .card_contactMe {
    form {
      width: 85%;
    }
  }

  .card .text_project {
    order: -1;
  }

  .card_header {
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
    height: 180px;
    overflow: hidden;
    position: fixed;
    transition: all 500ms;
    border-radius: 0px 0px 40px 40px;
    top: 7.3vh;
    box-sizing: border-box;
  }

  .card_personal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
  }

  .card_buttons_download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto 0px;
  }

  .button_download {
    font-size: 12px;

  }

  .button_download {
    height: 50px;
  }

  .button_download_2 {
    width: 100%;
    height: 50px;
  }

  .card_projects {
    grid-template-rows: 0.5fr 3fr;
  }

  .card_projectsLight {
    grid-template-rows: 0.5fr 3fr;
  }


  .card_skills {
    grid-template-rows: 0.5fr 3fr;
  }

  .card_skillsLight {
    grid-template-rows: 0.5fr 3fr;
  }

  .card_contain_projects {
    grid-row: 2/3;
    height: 80%;
  }

  .card_contain_buttonProject {
    flex: 1;
    margin: 0;
  }

  .card_contain {
    flex: 5;

  }

  .card_header_inactive {
    display: flex;
    padding: 0px 0px;
    flex-direction: column;
    position: fixed;
    height: 0px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 0px 0px 40px 40px;
    top: 7.3vh;
    box-sizing: border-box;
  }

  .card_close {
    display: block;
    cursor: pointer;
    transform: scale(1.5);
    position: absolute;
    top: 7%;
    right: 6%;
  }

  .card_contain_button {
    position: fixed;
    box-sizing: border-box;
    display: block;
    height: 6vh;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: all ease 1s;
    border: none;
  }

  .card_contain_button button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 20%;
    margin-top: 12px;
  }

}

@media (max-width:650px) {

  :root {
    --figureHeight: calc(#{$figureHeigth}* 1);
    --figureWidth: calc(#{$figureWidth} * 0.8);
    --translate: calc(#{$translate} * 0.65);
    --p: 15px
  }
}

@media (max-width:550px) {

  :root {
    --figureHeight: calc(#{$figureHeigth}* 1);
    --figureWidth: calc(#{$figureWidth} * 0.8);
    --translate: calc(#{$translate} * 0.5);
    --p: 15px
  }

}

@media (max-width:435px) {


  :root {
    --figureHeight: calc(#{$figureHeigth}* 1);
    --figureWidth: calc(#{$figureWidth} * 0.95);
    --translate: calc(#{$translate} * 0.4);
    --p: 12px
  }

}

@media (max-width:360px) {


  :root {
    --figureHeight: calc(#{$figureHeigth}* 1);
    --figureWidth: calc(#{$figureWidth} * 0.9);
    --translate: calc(#{$translate} * 0.3);
    --p: 10px
  }
}